*.DS_Store
resume/ChrisFoxResume.aux
resume/ChrisFoxResume.log
resume/ChrisFoxResume.out
resume/ChrisFoxResume.synctex.gz
resume/ChrisFoxResume.tex
resume/moderncv.cls.new
resume/moderncvstylecasual.sty
